

@import '../../../_common/styles/common.scss';



#legalBtn{	
	@include pos(686, 48);
	// opacity: 1;
}

.ill {
	transform-origin: 560px 90px;
}

#banner{	
	width: 728px;
	height: 90px;
}



.bgGrad{
	// height: 66px;
	opacity: .5;
}



.player1{		
	@include pos-scale-rotate(70, -50, .5, 0);
}

.player2{		
	@include pos-scale-rotate(0, -70, .5, 0);
}



.ball{	
	// @include pos-scale-rotate(50, -15, .5, 0);
}


#legalContent{
	font-size: 8px;
	line-height: 13px;
	padding: 8px;
}