

@import '../../../_common/styles/common.scss';



#legalBtn{	
	@include pos(920, 195);
	// opacity: 1;
}

.ill {
	transform-origin: 700px 250px;
}

#banner{	
	width: 970px;
	height: 250px;
}



.bgGrad{
	// height: 66px;
	opacity: .5;
}



.player1{		
	@include pos-scale-rotate(180, 0, .5, 0);
}

.player2{		
	// @include pos-scale-rotate(-40, 0, .5, 0);
}



.ball{	
	// @include pos-scale-rotate(50, -15, .5, 0);
}


#legalContent{
	font-size: 8px;
	line-height: 13px;
	padding: 8px;
}